@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --select-bg: #ffffff;
  --select-text: #374151;
  --select-border: rgb(209 213 219);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --select-bg: #374151;
    --select-text: #f3f4f6;
    --select-border: #6b7280;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
